{#header.twig#}

<header>
    <div>
        <img src="./img/log" alt="logo" />
    </div>

    <nav>
        <ul>
            <li>
                <a href="">Inscription</a>
            </li>
            <li>
                <a href="">Connexion</a>
            </li>
        </ul>
    </nav>
</header>
