{#header.twig#}

{% block styles %}
<link rel="stylesheet" href="./assets/styles/header.css">
{% endblock %}

<header>
    <div>
        <img src="./img/log" alt="logo" />
    </div>

    <nav>
        <ul>
            <li>
                <a class="link" href="">Inscription</a>
            </li>
            <li>
                <a class="link" href="">Connexion</a>
            </li>
        </ul>
    </nav>
</header>
